.meetVideoContainer{
    position: relative;
    height: 100vh;
    background-color:rgb(0, 30, 45);
}

.meetUserVideo{
    position: absolute;
    bottom: 0;
    height: 30vh;
    width: auto;
    left: 3vh;
    bottom: 7vh;
    border-radius: 1rem;
    border: 2px solid rgb(255, 240, 220);
}

.conferenceView{
    display: flex;
    padding: 10px;
    gap: 10px;
}

.conferenceView  video{
    width: 30vw;
    min-width: 25vw;
    border-radius: 10px;
    height: 40vh;
}

.buttonContainer{
    position: absolute;
    width: 100vw;
    bottom: 0;
    text-align: center;
}

.buttonContainer svg{
font-size: 2.3rem;
}

.chatRoom{
    margin-top: 1rem;
    position: absolute;
    height: 90vh;
    width: 25vw;
    right: 0;
    background-color: whitesmoke;
    border-radius: 10px;
    padding-inline:20px ;
}

.chatContainer{
    position: relative;
    height: 100%;
}
.chattingArea {
    position: absolute;
    bottom: 0;
}

